{% extends "layout.html" %}
{% block content %}
<h3>PITCHES!!!</h3>

<div class="row">
<div class="col-md-4">
    <h4><a href="/tech">Tech Pitches</a></h4>
    <p>The factory of the future will have only two employees, a man, and a dog. The man will be there to feed the dog. The dog will be there to keep the man from touching the equipment.</p>
</div>

<div class="col-md-4">
        <h4><a href="/funny">Funny Pitches</a></h4>
        <p>That awkward moment when you've said "What?" three times, so you just say "Oh, yeah.." even though you have no idea what they said.</p>
</div>

<div class="col-md-4">
        <h4><a href="/life">Life Pitches</a></h4>
        <p>When life gives you lemons, ask for more. Become a lemon trader. Sell lemons at a lower price than the prevailing market price. Build a company which sells lemons. Become an international lemon selling brand. Have profits in billions. Become rich and keep asking for more lemons.</p>
</div>

</div>
{% endblock %}
